
.colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .aReceita{
    background-color: rgb(40, 191, 73);
    padding: 4%;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: aliceblue;
    
  }
  .aDespesa{
    background-color: rgb(163, 10, 10);
    padding: 4%;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: aliceblue;
  }