.formulario{
    background-color: #484898;
    padding: 5%;
    width: 300px;
    gap: 20px;
    border-radius: 15px;
}
label{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    
}
input{
    height: 20px;
    
}
.divbutto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:end;
}
button{
    height: 30px;
    align-items: center;
}